.card {
  width: 320px;
  height: fit-content;
  background-color: rgba(54, 55, 58, 1);
  border-radius: 10px;
}

/* .card__title p {
  margin: 0px;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
} */
.card__title p {
  font-size: 12px;
  /* line-height: 1px; */
  margin: 0px;
  color: #131313;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.oneSide {
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.oneSide::-webkit-scrollbar {
  width: 0; /* Safari and Chrome */
  height: 0;
}
