.header {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(54, 55, 58, 1);
  align-items: center;
}
.header a {
  text-decoration: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
.header p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
