.dashboard {
  background-color: #fff;
  display: flex;
  flex-direction: row;
}
.main__body {
}
.sidebar {
  width: 250px;
  /* width: 50%; */
  background-color: #ededf2;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-items: center;
  width: 100%;
  padding: 15px;
  background-color: #f0f0f0;
}

.sidebar__icon {
  font-size: 28px;
}

.logoutButton {
  font-size: 28px;
  cursor: pointer;
}
