.list {
  /* border: 2px solid #36373a; */
  width: 320px;
  border-radius: 5px;
  /* margin: 10px 10px; */
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: fit-content;
  background-color: #ddd;
}

.top__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 8px;
  align-items: center;
}

.top__list p {
  color: #000;
  margin: 0px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.top__list .list__icon {
  cursor: pointer;
  color: #fff;
  font-size: 22px;
}

.card__box {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  max-height: 500px;
  align-items: flex-start;
  justify-content: center;
  overflow-y: scroll;
  margin: 0 5px;
}
.card__box::-webkit-scrollbar {
  display: none;
}
.card {
  width: calc(100% - 20px);
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  padding: 10px;
  font-family: "Poppins", sans-serif;
  word-wrap: break-word;
  max-height: 100%;
  overflow-y: auto;
}
.card__box > div {
  margin: 5px;
  background-color: #fff;
}

.add__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 10px;
}

.add__card input {
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 320px;
  color: #000;
  font-family: "Poppins", sans-serif;
  margin-right: 10px;
  background-color: transparent;
  border: 2px solid transparent;
}
.add__card input:focus {
  outline: none;
}
.add__card button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: rgba(54, 55, 58, 1);
  color: #fff;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
